.auth {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  flex-grow: 1;
  width: 100%;
  background: #66bb6a;
}

.auth > div {
  width: 100%;
  max-width: 600px;
  padding: 0 20px;
}

.auth h1 {
  color: #fff;
  text-align: center;
}

.auth-form {
  background: #eee;
}